@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: rgb(14,0,106);
    background: linear-gradient(45deg, rgba(14,0,106,1) 0%, rgba(78,87,206,1) 0%, rgba(188,82,192,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    background-color: #fff;
    width: 800px;
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    animation: showForm 600ms forwards;
    display: flex;
    flex-wrap: wrap;
    padding: 36px;
}

.container .title {
    padding: 24px 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container .title h2 {
    margin: 0;
    text-align: center;
    color: #333;
    font-size: 2rem;
    color: #8b54c6;
    font-weight: 900;
}

.container .title img {
    max-width: 100%;
    display: block;
    margin: auto 0;
}

.form {
    padding: 32px 40px;
    flex: 1;
}

.form-control {
    margin-bottom: 12px;
    padding-bottom: 24px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 6px;
    font-size: 14px;
    letter-spacing: .5;
    color: rgba(0, 0, 0, 0.829);
}

.form-control input {
    display: block;
    font-family: inherit;
    font-size: 14px;
    width: 100%;
    padding: 12px;
    border-radius: 24px;
    border: 2px solid #dbdbdb67;
    background: rgba(0, 0, 0, 0.05);
    transition: 300ms;
}

.form-control input:focus {
    border-radius: 24px;
    outline: transparent;
}

.form-control input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.form-control input:hover {
    border: 2px solid #c7c7c7;
    background: rgba(64, 17, 95, 0.1);

}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 12px;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-control.error small {
    visibility: visible;
    color: #e74c3c;
}

.form button {
    background: linear-gradient(45deg, rgba(14,0,106,1) 0%, rgba(78,87,206,1) 0%, rgba(188,82,192,1) 100%);
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 12px;
    width: 100%;
    border-radius: 24px;
    cursor: pointer;
    transition: ease-in-out 300ms;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.form button:hover {
    background: linear-gradient(45deg, rgb(13, 0, 92) 0%, rgb(63, 70, 168) 0%, rgb(153, 66, 156) 100%);
}

@keyframes showForm {
    from {
        opacity: 0;
        transform: translate3d(0, -300px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@media (max-width:660px) {
    .container {
        margin: 20px;
        padding: 20px;
        max-width: 500px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container .title {
        align-items: center;
        padding-bottom: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
    .container .title img {
        max-width: 200px;
    }
    .form {
        width: 100%;
    }
}